<footer class="footer">
    <div class="footer_container">
        <div class="footer_social">
            <a href="#" aria-label="Ссылка на telegram">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48" height="48" viewBox="0 0 48 48">
                    <path d="M5.83,23.616c12.568-5.529,28.832-12.27,31.077-13.203c5.889-2.442,7.696-1.974,6.795,3.434 c-0.647,3.887-2.514,16.756-4.002,24.766c-0.883,4.75-2.864,5.313-5.979,3.258c-1.498-0.989-9.059-5.989-10.7-7.163 c-1.498-1.07-3.564-2.357-0.973-4.892c0.922-0.903,6.966-6.674,11.675-11.166c0.617-0.59-0.158-1.559-0.87-1.086 c-6.347,4.209-15.147,10.051-16.267,10.812c-1.692,1.149-3.317,1.676-6.234,0.838c-2.204-0.633-4.357-1.388-5.195-1.676 C1.93,26.43,2.696,24.995,5.83,23.616z"></path>
                </svg>
            </a>
            <a href="#" aria-label="Ссылка на github">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
                    <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"></path>
                </svg>
            </a>
            <a href="#" aria-label="Ссылка на codepen">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0 0 50 50">
                    <path d="M 25 4 L 4 17.34375 L 4 32.652344 L 25 46 L 46 32.65625 L 46 17.34375 Z M 25 29.183594 L 19.066406 25.070313 L 25 21.023438 L 30.933594 25.070313 Z M 27 17.605469 L 27 9.949219 L 40.429688 18.484375 L 34.410156 22.65625 Z M 23 17.605469 L 15.589844 22.65625 L 9.570313 18.484375 L 23 9.949219 Z M 12.09375 25.042969 L 8 27.832031 L 8 22.203125 Z M 15.570313 27.453125 L 23 32.605469 L 23 40.050781 L 9.589844 31.527344 Z M 27 32.605469 L 34.429688 27.453125 L 40.410156 31.527344 L 27 40.050781 Z M 37.90625 25.042969 L 42 22.203125 L 42 27.832031 Z"></path>
                </svg>
            </a>
        </div>
        <a href="#" class="footer_photos">                    
            <svg
                width="512"
                height="512"
                viewBox="0 0 135.46667 135.46667"
                version="1.1"
                id="svg5"
                xml:space="preserve"
                inkscape:export-filename="bitmap.svg"
                inkscape:export-xdpi="96"
                inkscape:export-ydpi="96"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
                id="namedview7"
                pagecolor="#ffffff"
                bordercolor="#000000"
                borderopacity="0.25"
                inkscape:showpageshadow="2"
                inkscape:pageopacity="0.0"
                inkscape:pagecheckerboard="0"
                inkscape:deskcolor="#d1d1d1"
                inkscape:document-units="mm"
                showgrid="false" /><defs
                id="defs2" /><g
                inkscape:label="Layer 1"
                inkscape:groupmode="layer"
                id="layer1"><path
                style="stroke-width:0.243467"
                d="M 12.989174,118.51826 C 10.09784,117.53269 7.8680973,115.36793 6.5463909,112.26328 6.0950178,111.20304 6.0778284,110.02455 6.0135722,75.74318 5.9694033,52.163167 6.0308695,39.926122 6.1973888,39.144585 6.8571301,36.048738 9.0280813,33.315813 11.970383,31.877167 l 1.657072,-0.810227 10.46909,-0.121735 10.46909,-0.121732 1.450637,-0.679276 c 1.205891,-0.564672 2.458723,-1.678856 7.42575,-6.603951 6.374975,-6.32115 7.278382,-6.999497 10.407005,-7.814401 2.057105,-0.53581 26.816557,-0.53581 28.873663,0 3.128622,0.814904 4.032029,1.493251 10.406995,7.814401 4.967029,4.925095 6.219879,6.039279 7.425765,6.603951 l 1.45063,0.679276 10.46909,0.121732 10.4691,0.121735 1.65707,0.810227 c 1.94193,0.949513 3.93379,2.839179 4.76153,4.517253 1.29537,2.626077 1.24463,1.063339 1.24772,38.423773 0.002,24.807014 -0.0754,35.111957 -0.27085,36.033167 -0.30368,1.43126 -1.17553,3.29963 -2.1149,4.5322 -0.93881,1.23188 -3.1265,2.67724 -4.86496,3.21419 -1.53805,0.47506 -2.4012,0.48252 -55.160533,0.47634 l -53.598025,-0.006 z m 62.600699,-15.81451 c 9.299233,-2.45257 16.380832,-8.109512 20.56323,-16.426387 4.363707,-8.677394 4.365387,-18.842573 0.0046,-27.698623 C 88.572015,43.173467 69.55084,36.813712 54.326026,44.592264 46.862374,48.405547 41.242387,54.906376 38.737028,62.624582 c -1.239902,3.81976 -1.492707,5.487644 -1.490213,9.831795 0.0028,4.168446 0.339182,6.40557 1.477009,9.810839 3.133067,9.376556 10.793439,16.871241 20.320299,19.880774 3.545194,1.11993 5.328203,1.34358 9.97215,1.25085 3.588425,-0.0717 4.625609,-0.18132 6.573608,-0.69509 z M 64.146915,98.025937 C 57.009571,96.815074 50.672701,92.74343 46.749889,86.84781 36.536952,71.498714 45.079319,50.68129 63.089551,47.028637 74.652059,44.683659 86.447302,50.467319 91.530853,60.974504 99.185064,76.794977 89.62739,95.218358 72.30858,98.027391 c -2.616683,0.424416 -5.654621,0.423876 -8.161665,-0.0019 z M 112.0588,56.288099 c 3.93793,-2.025562 3.93793,-7.270781 0,-9.296353 -1.10417,-0.56796 -3.031,-0.607538 -4.27488,-0.08779 -4.08285,1.705924 -4.11745,7.699103 -0.0547,9.460965 1.20604,0.523 3.23335,0.487039 4.32951,-0.07683 z"
                id="path337" /></g>
            </svg>
            <span>
                Мои фотографии
            </span>                
        </a>
    </div>
</footer>