<header class="header">
    <div class="header_conteiner">
        <div class="header_logo">
            <a href="" class="logo"></a>
            <h1 class="logo_text">
                <span class="logo_name">Илья</span>
                <span class="logo_surname">Семенов</span>
            </h1>
        </div>
        <div class="header_content">
            <nav class="header_nav">
                <div class="header_links-conteiner"></div>
            </nav>
            <div class="header_buttons">
                <button class="header_burger-menu-button"></button>
                <div class="header_theme-switch-conteiner">
                    <button class="header_theme-switch" aria-label="Переключить тему">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
                            <path d="M 14.984375 0.98632812 A 1.0001 1.0001 0 0 0 14 2 L 14 5 A 1.0001 1.0001 0 1 0 16 5 L 16 2 A 1.0001 1.0001 0 0 0 14.984375 0.98632812 z M 5.796875 4.7988281 A 1.0001 1.0001 0 0 0 5.1015625 6.515625 L 7.2226562 8.6367188 A 1.0001 1.0001 0 1 0 8.6367188 7.2226562 L 6.515625 5.1015625 A 1.0001 1.0001 0 0 0 5.796875 4.7988281 z M 24.171875 4.7988281 A 1.0001 1.0001 0 0 0 23.484375 5.1015625 L 21.363281 7.2226562 A 1.0001 1.0001 0 1 0 22.777344 8.6367188 L 24.898438 6.515625 A 1.0001 1.0001 0 0 0 24.171875 4.7988281 z M 15 8 A 7 7 0 0 0 8 15 A 7 7 0 0 0 15 22 A 7 7 0 0 0 22 15 A 7 7 0 0 0 15 8 z M 2 14 A 1.0001 1.0001 0 1 0 2 16 L 5 16 A 1.0001 1.0001 0 1 0 5 14 L 2 14 z M 25 14 A 1.0001 1.0001 0 1 0 25 16 L 28 16 A 1.0001 1.0001 0 1 0 28 14 L 25 14 z M 7.9101562 21.060547 A 1.0001 1.0001 0 0 0 7.2226562 21.363281 L 5.1015625 23.484375 A 1.0001 1.0001 0 1 0 6.515625 24.898438 L 8.6367188 22.777344 A 1.0001 1.0001 0 0 0 7.9101562 21.060547 z M 22.060547 21.060547 A 1.0001 1.0001 0 0 0 21.363281 22.777344 L 23.484375 24.898438 A 1.0001 1.0001 0 1 0 24.898438 23.484375 L 22.777344 21.363281 A 1.0001 1.0001 0 0 0 22.060547 21.060547 z M 14.984375 23.986328 A 1.0001 1.0001 0 0 0 14 25 L 14 28 A 1.0001 1.0001 0 1 0 16 28 L 16 25 A 1.0001 1.0001 0 0 0 14.984375 23.986328 z"></path>
                        </svg>
                    </button>
                    <div class="theme-menu">
                        <button class="theme-menu_select-button" id="dark-theme-disactive" data-value="disactive">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 30 30">
                                <path d="M 14.984375 0.98632812 A 1.0001 1.0001 0 0 0 14 2 L 14 5 A 1.0001 1.0001 0 1 0 16 5 L 16 2 A 1.0001 1.0001 0 0 0 14.984375 0.98632812 z M 5.796875 4.7988281 A 1.0001 1.0001 0 0 0 5.1015625 6.515625 L 7.2226562 8.6367188 A 1.0001 1.0001 0 1 0 8.6367188 7.2226562 L 6.515625 5.1015625 A 1.0001 1.0001 0 0 0 5.796875 4.7988281 z M 24.171875 4.7988281 A 1.0001 1.0001 0 0 0 23.484375 5.1015625 L 21.363281 7.2226562 A 1.0001 1.0001 0 1 0 22.777344 8.6367188 L 24.898438 6.515625 A 1.0001 1.0001 0 0 0 24.171875 4.7988281 z M 15 8 A 7 7 0 0 0 8 15 A 7 7 0 0 0 15 22 A 7 7 0 0 0 22 15 A 7 7 0 0 0 15 8 z M 2 14 A 1.0001 1.0001 0 1 0 2 16 L 5 16 A 1.0001 1.0001 0 1 0 5 14 L 2 14 z M 25 14 A 1.0001 1.0001 0 1 0 25 16 L 28 16 A 1.0001 1.0001 0 1 0 28 14 L 25 14 z M 7.9101562 21.060547 A 1.0001 1.0001 0 0 0 7.2226562 21.363281 L 5.1015625 23.484375 A 1.0001 1.0001 0 1 0 6.515625 24.898438 L 8.6367188 22.777344 A 1.0001 1.0001 0 0 0 7.9101562 21.060547 z M 22.060547 21.060547 A 1.0001 1.0001 0 0 0 21.363281 22.777344 L 23.484375 24.898438 A 1.0001 1.0001 0 1 0 24.898438 23.484375 L 22.777344 21.363281 A 1.0001 1.0001 0 0 0 22.060547 21.060547 z M 14.984375 23.986328 A 1.0001 1.0001 0 0 0 14 25 L 14 28 A 1.0001 1.0001 0 1 0 16 28 L 16 25 A 1.0001 1.0001 0 0 0 14.984375 23.986328 z"></path>
                            </svg>
                            <span>Светлая</span>
                        </button>
                        <button class="theme-menu_select-button" id="dark-theme-active" data-value="active">
                            <svg
                            width="210"
                            height="297"
                            viewBox="0 0 210 245"
                            version="1.1"
                            id="svg5"
                            xml:space="preserve"
                            inkscape:export-filename="bitmap.png"
                            inkscape:export-xdpi="96"
                            inkscape:export-ydpi="96"
                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
                              id="namedview7"
                              pagecolor="#ffffff"
                              bordercolor="#000000"
                              borderopacity="0.25"
                              inkscape:showpageshadow="2"
                              inkscape:pageopacity="0.0"
                              inkscape:pagecheckerboard="0"
                              inkscape:deskcolor="#d1d1d1"
                              inkscape:document-units="mm"
                              showgrid="false" /><defs
                              id="defs2" /><g
                              inkscape:label="Layer 1"
                              inkscape:groupmode="layer"
                              id="layer1"><path
                                d="M 93.981802,225.1995 C 66.61878,218.32002 42.650841,198.22258 30.536621,171.99978 24.485286,158.90085 23.322046,152.8786 23.258929,134.32179 c -0.06408,-18.84371 0.993554,-24.3765 7.202569,-37.677916 8.750316,-18.74566 24.691776,-35.857158 41.357427,-44.392979 6.741023,-3.452559 12.700253,-6.277411 13.242738,-6.277411 0.542485,0 -1.134454,6.138925 -3.726513,13.642005 -15.083001,43.660091 6.883122,92.300701 50.98485,112.898121 13.54916,6.32808 18.73854,7.28165 39.62697,7.28165 13.21985,0 24.03603,0.7505 24.03595,1.66776 -8e-5,0.91733 -5.33829,7.60516 -11.86268,14.86185 -22.02064,24.49222 -59.63871,36.5427 -90.138438,28.87463 z"
                                id="path194" /></g></svg>              
                            <span>Тёмная</span>
                        </button>
                        <button class="theme-menu_select-button" id="dark-theme-sys" data-value="sys">                            
                            <svg
                            width="512"
                            height="512"
                            viewBox="0 0 135.46667 135.46667"
                            version="1.1"
                            id="svg5"
                            xml:space="preserve"
                            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
                            id="namedview7"
                            pagecolor="#ffffff"
                            bordercolor="#000000"
                            borderopacity="0.25"
                            inkscape:showpageshadow="2"
                            inkscape:pageopacity="0.0"
                            inkscape:pagecheckerboard="0"
                            inkscape:deskcolor="#d1d1d1"
                            inkscape:document-units="mm"
                            showgrid="false" /><defs
                            id="defs2" /><g
                            inkscape:label="Layer 1"
                            inkscape:groupmode="layer"
                            id="layer1"><path
                                style="stroke-width:0.263257"
                                d="m 66.607055,135.05889 c -1.630176,-0.99408 -1.690104,-1.39188 -1.690104,-11.21854 0,-9.77401 0.04896,-10.11081 1.603171,-11.0289 1.685972,-0.99593 3.583952,-0.39143 4.51716,1.4387 0.410942,0.80592 0.460334,1.84393 0.4607,9.68205 5.27e-4,9.74811 -0.04892,10.06952 -1.704053,11.09244 -1.072016,0.66254 -2.137759,0.674 -3.186874,0.0343 z M 21.742712,115.7588 c -1.132757,-0.76861 -1.658306,-2.14143 -1.306947,-3.41394 0.179194,-0.64899 1.931086,-2.56395 6.644966,-7.26349 6.349353,-6.33002 6.410753,-6.382121 7.521196,-6.382121 2.27274,0 3.690171,1.560431 3.333746,3.670081 -0.141005,0.83462 -1.06103,1.86715 -6.56345,7.36614 -6.127345,6.12352 -6.448536,6.40084 -7.553782,6.52199 -0.916938,0.10057 -1.343816,-0.002 -2.075729,-0.49866 z m 90.692238,0.17 c -0.96561,-0.49575 -11.78763,-11.22572 -12.549307,-12.44257 -0.79994,-1.27797 -0.557772,-3.06526 0.549347,-4.054481 0.67361,-0.601869 1.0636,-0.7325 2.18684,-0.7325 h 1.36703 l 6.42246,6.407211 c 6.19987,6.18518 6.42707,6.44823 6.55585,7.59085 0.30355,2.69305 -2.15985,4.44946 -4.53222,3.23149 z M 65.525814,106.06227 C 56.049447,105.27595 47.491837,101.16159 40.828884,94.18837 29.72291,82.565225 27.048053,65.363492 34.10038,50.918002 39.639729,39.571585 50.006041,31.846842 62.581512,29.694504 c 7.313466,-1.251727 16.269878,0.02914 22.7379,3.251768 16.181368,8.062213 24.632498,25.206434 21.057498,42.717941 -0.98103,4.805416 -3.36038,10.192856 -6.377877,14.441103 -1.94391,2.736786 -6.18923,6.982107 -8.926017,8.926022 -7.34836,5.219472 -16.621468,7.771562 -25.547202,7.030932 z m 2.485461,-38.361599 -0.06686,-32.051608 -1.579546,0.07856 C 59.21649,36.083156 51.558977,39.480842 46.139702,44.701658 33.246905,57.122309 33.05716,77.63909 45.718469,90.248795 c 5.60434,5.5815 13.957652,9.332304 21.108148,9.477982 l 1.251524,0.02549 z M 3.6532958,70.765149 c -1.9118813,-0.552674 -2.83660597,-3.27938 -1.631654,-4.811224 1.142743,-1.45276 1.3271718,-1.478243 10.6914232,-1.477174 8.155135,0.0011 8.682474,0.03008 9.493747,0.524712 1.135847,0.692533 1.765173,2.025703 1.535117,3.252007 -0.217816,1.161056 -1.424973,2.412466 -2.542819,2.636035 -1.297852,0.259572 -16.5926824,0.15117 -17.5458142,-0.124356 z m 111.6138942,0.10656 c -0.89536,-0.172663 -2.13245,-1.562486 -2.33051,-2.618239 -0.23006,-1.226304 0.39927,-2.559474 1.53511,-3.252007 0.81127,-0.494637 1.33861,-0.523783 9.49374,-0.524712 9.36425,-0.0011 9.54869,0.0244 10.69143,1.477174 1.25221,1.59193 0.27965,4.261451 -1.75876,4.827566 -0.94304,0.261901 -16.33237,0.34065 -17.63101,0.09022 z M 33.852559,37.169102 C 33.217232,37.049309 22.088941,26.288117 20.908899,24.652427 c -1.222801,-1.694962 -0.354975,-4.397674 1.579311,-4.918524 1.937807,-0.521797 2.343709,-0.230095 9.042647,6.498476 6.808917,6.839038 7.003419,7.125035 6.18224,9.090393 -0.597092,1.42904 -2.145694,2.169671 -3.860538,1.84633 z M 101.3558,36.986041 c -1.26452,-0.550572 -1.952108,-1.609199 -1.952108,-3.005504 v -1.202634 l 6.375298,-6.394768 c 4.3006,-4.313712 6.65657,-6.487592 7.2396,-6.680005 1.96139,-0.647321 4.02335,0.95167 4.02335,3.119991 v 1.217938 l -6.38211,6.401615 c -4.84951,4.864308 -6.60385,6.463212 -7.30541,6.65812 -1.11965,0.311069 -1.00558,0.317618 -1.99862,-0.114753 z M 66.395111,22.59457 c -1.449725,-1.140355 -1.47816,-1.34272 -1.47816,-10.520013 0,-9.3774292 0.06958,-9.8225085 1.690104,-10.8107009 1.049115,-0.63974928 2.114858,-0.62829701 3.186874,0.034246 1.644599,1.016418 1.704461,1.390104 1.704461,10.6402099 0,9.130422 -0.06771,9.602982 -1.524585,10.640369 -1.042573,0.742378 -2.646062,0.749498 -3.578694,0.01589 z"
                                id="path302" /></g></svg>

                            <span>Системная</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>