@import "fonts";
@import "animations";
@import "root";

body, div, span {
    transition: background .2s ease;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: var(--bg-color-1);
}
a, button, h1, h2, h3, h4, h5, p, article, input, span, li, ul, img, svg {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--text-color-1);
    transition: .2s ease;
    &::selection {
        background: var(--selection-color);
        color: var(--text-color-6);
    }
}
h1, h2, h3, h4, h5 {
    text-wrap: balance;
}
a, button {
    outline: #00000000 solid;
    overflow: hidden;
    &:focus-visible {
        outline: var(--bg-color-3) solid;
    }
}

button, .burger-menu_link, .news-history_link, .rasp a, .footer-content-social_link, .liceum1-info-link, .ege_link, .oge_link {
    position: relative;
    overflow: hidden;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
img:not([src]):not([srcset]) {
    visibility: hidden;
}
.header, 
main,
.footer {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
    box-sizing: border-box;
}
.header {
    z-index: 10;
}
main {
    padding: 245px 30px 10px 30px;
}
.header_conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.header_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.logo{
    flex: 0 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: url("../img/page/icon.webp") no-repeat center;
    background-size: contain;
    box-shadow: 0px 2px 8px #0000001a;
    transition: .001s ease;
}
.logo_text {
    text-align: center;
    margin: 0;
    span {
        transition: .001s ease;
    }
}
.header_links-conteiner{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
}
.header_link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    opacity: .7;
    &:hover,
    &:focus-visible {
        opacity: 1;
    }
}
.header_burger-menu-button {
    display: none;
}
@media (max-width: 600px) {
    .header.scrolled .header_burger-menu-button {
        display: block;
    }
}
h1 {
    margin: 0 0 10px 0;
    &.navigation a {
        text-decoration: none;
    }
}
.header {
    position: absolute;
    backdrop-filter: blur(20px);
    &.scrolled {
        position: fixed;
        background: var(--bg-color-4);
        border-radius: 0 0 15px 15px;
        animation: addHeader .3s ease forwards;
        .header_nav {
            gap: 15px;
            a {
                opacity: 1;
                font-size: 17px;
                @media (max-width: 600px) {
                    display: none;
                }
            }
        }
        &>div {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }
        .logo {
            width: 40px;
            height: 40px;
            &_text {
                margin: 0;
            }
        }
        .header_logo {
            flex-direction: row;
            align-items: center;
            gap: 15px;
        }
        h1 {
            font-size: 20px;
        }
    }
}

section {
    padding: 10px 0;
}
.projects_conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}
.projects_grid{
    display: flex;
    flex-direction: column;
    gap: 8px;
    &>div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
        gap: 10px;
    }
}
.project-card{
    display: flex;
    flex-direction: column;
    // gap: 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 15px;
    background: var(--bg-color-4);
    overflow: hidden;
    transition: .2s ease;
    &_img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        background: var(--bg-color-20);
    }
    h3 {
        margin: 0;
        font-size: 20px;
        a {
            text-decoration: none;
        }
    }
    &_content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 15px 20px 20px 20px;
        box-sizing: border-box;
    }
    &_links {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
            border-radius: 50%;
            box-sizing: border-box;
            background: var(--text-color-1);
            svg {
                width: 20px;
                height: 20px;
                fill: var(--bg-color-2);
            }
            &.project-card_social {
                width: 30px;
                height: 30px;
            }
            &.project-card_version {
                padding: 5px 10px;
                border-radius: 20px;
                text-decoration: none;
                color: var(--bg-color-2);
            }
            &:hover,
            &:focus {
                transform: translateY(-5px) scale(1.1);
                box-shadow: 0px 3px 12px #0000003a;
            }
        }
    }
    &:has(a:focus-visible) {
        box-shadow: 0px 3px 20px #0000002c;
    }
    &>a:hover,
    &>a:focus img {
        transform: scale(1.05);
        filter: brightness(80%);
    }
}
.footer{
    border-radius: 15px 15px 0 0;
    background: var(--bg-color-4);
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.footer_social{
    display: flex;
    gap: 10px;
    & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--text-color-1);
        text-decoration: none;
        & svg {
            width: 65%;
            height: 65%;
            fill: var(--bg-color-2);
        }
        &:hover,
        &:focus-visible {
            transform: scale(1.12) translateY(-3px);
            box-shadow: 0px 3px 12px #00000078;
        }
    }
}
.footer_photos{
    position: relative;
    display: flex;
    gap: 4px;
    padding: 5px 8px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
    &:hover,
    &:focus-visible {
        background: var(--bg-color-7);
    }
    svg {
        position: relative;
        top: 2px;
        width: 17px;
        height: 17px;
        fill: var(--text-color-1) !important;
    }
}
.links-mark {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 10px;
    background: var(--text-color-1);
    transition: transform .2s ease, width .2s ease;
    opacity: 0;
}
.header.scrolled {
    .links-mark {
        opacity: .9;
    }
}
.header_theme-switch-conteiner {
    position: absolute;
    top: 20px;
    right: 10px;
    &>button {
        display: flex;
        justify-self: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background: none;
        svg {
            fill: var(--text-color-1);
        }
        &:hover,
        &:focus {
            cursor: pointer;
            background: var(--bg-color-7);
            & ~ .theme-menu {
                transform: translateY(0px) scale(1);
                opacity: 1;
                visibility: visible;
            }
        }
        svg {
            position: absolute;
            width: 65%;
            height: 65%;
        }
    }
}
.header.scrolled {
    .header_theme-switch-conteiner {
        top: calc(50% - 15px);
        right: 20px;
    }
    .header_content {
        padding: 0 30px 0 0;
    }
}
.theme-menu{
    position: absolute;
    right: 0;
    max-width: 150px;
    width: fit-content;
    box-shadow: 0px 3px 15px #0000001a;
    border-radius: 15px;
    padding: 10px 5px;
    background: var(--bg-color-1);
    transform: translateY(-10px) scale(.8);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease;
    &:hover,
    &:focus,
    &:has(button:focus) {
        transform: translateY(0px) scale(1);
        opacity: 1;
        visibility: visible;
    }
}
.theme-menu_select-button{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background: none;
    color: var(--text-color-1);
    font-size: 16px;
    font-weight: 600;
    &:hover,
    &:focus-visible {
        cursor: pointer;
        background: var(--bg-color-7);
    }
    svg {
        width: 20px;
        height: 20px;
        fill: var(--text-color-1)
    }
    &.active {
        background: var(--bg-color-7);
    }
}
.ripple {
    position: absolute;
    border-radius: 50%;
    background-color: var(--bg-color-28);
    transform: scale(0);
    pointer-events: none;
    transition: .7s linear;
    &.blur400 {
        animation: ripple400 700ms linear forwards;
    }
    &.blur200 {
        animation: ripple200 700ms linear forwards;
    }
    &.blur100 {
        animation: ripple100 700ms linear forwards;
    }
    &.blur10 {
        animation: ripple 700ms linear forwards;
    }
    &.r-remove {
        opacity: 0;
    }
}
